{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-nested-ternary": 0,
    "react/jsx-quotes": 0,
    "react/jsx-no-bind": 0,
    "jsx-quotes": [2, "prefer-double"],
    "id-length": 0,
    "consistent-return": 0,
    "no-console": 0,
    "indent": [
      2,
      2
    ],
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ],
    "comma-dangle": [
      2,
      "always-multiline"
    ],
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
}
